/* _content/Dodo.BlazorThemeSwitcher/Component1.razor.rz.scp.css */
.my-component[b-cecfr65ce4] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
