@page "/counter"
@inject ThemeState ThemeState;

<h1>@currentCount</h1>


<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
