@page "/"
@inject ThemeState ThemeState;
@if(ThemeState.UsedTheme == Theme.Light){
   //This header is only displayed in Light Theme
<h1>Consider changing to dark theme with the button below</h1>
}
<div class="@ThemeState.ThemeName">
    This div is styled with .light or .dark classes depending on current theme!
</div>
<button class="btn btn-primary" @onclick="ThemeState.ChangeTheme">Change Theme</button>

@code{
    protected override void OnInitialized()
    {
        //Simulates loading saved data from storage
        ThemeState.ChangeTheme(Theme.Light);
    }
}

